section.b-check-travel-ban
	+breadcrumbs([{ path: '', title: 'Проверить запрет на выезд за границу' }])
	.container
		.row
			.col-12.col-lg-8
				h1._title Как проверить запрет на выезд за границу 
				ul.b-tags._tags
					li._item
						._icon-wrap
							+icon('calendar')
						span._text 19 октября 2020
					li._item
						._icon-wrap
							+icon('time')
						span._text Время чтения 8 мин.
					li._item
						._icon-wrap
							+icon('watched')
						span._text прочитали: 1 381
				._sub-title.xxl-body(data-id='1') КБМ – это показатель, который рассчитывается при оформлении ОСАГО на машину. В начале стажа<br> у всех водителей КБМ равен 1. Это значит, что водитель платит ОСАГО по его полной стоимости без переплат и учета ДТП.
				h3._small-title Содержание
				ul._links-list
					li._links-list-item
						a._link.underline-link.js-scroll(href="#1") Что такое КБМ
					li._links-list-item
						a._link.underline-link.js-scroll(href="#2") Важные моменты
					li._links-list-item
						a._link.underline-link.js-scroll(href="#3") Примеры расчета КБМ и скидки по ОСАГО
					li._links-list-item
						a._link.underline-link.js-scroll(href="#4") Если ваш КБМ посчитан неверно
					li._links-list-item
						a._link.underline-link.js-scroll(href="#5") Видео на тему - Что такое КБМ
				h3._small-title(data-id='2') Важные моменты:
				ul.b-marked-list._marked-list
					li._item.xl-body Если договор ОСАГО был расторгнут со страховщиком коэффициент остается прежним, скидка по этому договору водителю не начисляется;
					li._item.xl-body Узнать как меняется коэффициент при ДТП можно на странице таблицы КБМ;
					li._item.xl-body Если в полис ОСАГО вписаны 2 человека, в расчет берут КБМ у водителя которого он больше;
					li._item.xl-body Максимальная скидка по ОСАГО составляет 50% при КБМ 0.5;
					li._item.xl-body Если водитель пользуется ОСАГО без ограниченных лиц допущенных к управлению КБМ равен <br>1 и не изменяется;
					li._item.xl-body База РСА ведет запись КБМ водителей с 2013 года, на нашем сайте Вы можете получить историю изменения КБМ с 2013 года.
				._img-wrap
					img._img(src="img/check-travel-ban/image1.jpg" alt="")
				h3._small-title(data-id='3') Примеры расчета КБМ и скидки по ОСАГО
				ul.b-example-card._example-card
					li._item
						._title Пример №1:
						._desc.xl-body Сергей получил права и купил автомобиль. После этого он оформляет ОСАГО на машину. <br>При первом визите его КБМ будет равен 1. Он заплатит 10 000 рублей.
					li._item
						._title Пример №2:
						._desc.xl-body Сергей выехал на работу на новом автомобиле и сразу попал в аварию. При этом больше таких аварий не происходило. Тогда при оформлении ОСАГО он получит 2 класс и 1.4 КБМ. За страховку вместо 10 000 рублей он заплатит уже 14 000 рублей.
					li._item
						._title Пример №3:
						._desc.xl-body ергей проездил на машине год и не попал не в одну аварию. Круто, поэтому КБМ снизиться, а его класс повыситься. Его КБМ составит 0.95. Можно рассчитывать на скидку: вместо 10 000 рублей он заплатит 9 500 рублей.
				h3._small-title(data-id='4') Если ваш КБМ посчитан неверно
				._desc.xl-body К сожалению у 80% граждан Российской Федерации, существуют проблемы с неправильным значением КБМ. Чаще всего эти проблемы связаны с заменой ВУ или паспорта. Также не исключение невнимательность менеджеров по продажам страховых компаний которые не учитывают Ваш КБМ при оформлении страховки ОСАГО. Сервис “RosKBM” позволяет проверить верно ли Вам посчитали коэффициент бонус-малус. Для проверки перейдите по ссылке <a href='https://roskbm.ru' class='underline-link'>https://roskbm.ru</a>
				h3._small-title(data-id='5') Видео на тему - Что такое КБМ
				._small-desc.xl-body Как рассчитывается КБМ, как он применяется, как меняется при ДТП мы расскажем подробно в этом видео.
				a._video-img-wrap(href="https://www.youtube.com/watch?v=OCZ7fC9rz7U" data-fancybox)
					img._video-img(src="img/check-travel-ban/image2.jpg" alt="")
					span._video-icon-wrap
						img._video-icon(src="img/icons/yt-play.svg" alt="")
			.col-12.col-lg-4.d-none.d-lg-block
				.b-nav-card
					h3._title Важное по теме
					ul._list
						li._item
							a._link.underline-link(href="#") Что такое КБМ - Почему он рассчитан неверно
							._date 19 октября 2020
						li._item
							a._link.underline-link(href="#") Как восстановить КБМ - Официальный запрос в РСА
							._date 19 октября 2020
						li._item
							a._link.underline-link(href="#") Как рассчитывается КБМ - Как рассчитать самостоятельно
							._date 19 октября 2020
						li._item
							a._link.underline-link(href="#") Как проверить КБМ - Полная инструкция
							._date 19 октября 2020
						li._item
							a._link.underline-link(href="#") Как вернуть деньги за КБМ по ОСАГО
							._date 19 октября 2020