section.b-debt-checker
	+breadcrumbs([{ path: '', title: 'Узнать задолженность' }])
	.container
		h1._title Проверить долги по фамилии - ФССП
		._sub-title.xxl-body Проверка долгов по фамилии у приставов по базе ФССП. Укажите фамилию, имя и отчество и нажмите проверить долги. В режиме онлайн будет проведена проверка задолженностей по фамилии. Проверьте долги, чтобы узнать о своих задолженностях.
