.debt-checker-form
	background: #FFFFFF
	border: 2px solid $accent
	border-radius: 3px
	padding: 41px 48px

	&__text
		margin-bottom: 33px

	&__header
		&-row
			display: flex
			justify-content: space-between
			align-items: flex-start

		&-col
			&--left
				flex-basis: 80.57%
				max-width: 80.57%
			&--right
				flex-basis: 19.43%
				max-width: 19.43%
