.debt-table
	&__row
		display: flex
		align-items: center
		padding: 13.5px 20px
		&:nth-child(odd)
			background-color: rgba(#C4C4C4, 0.15)

	&__col
		&--left
			flex-basis: 24.4%
			max-width: 24.4%
		&--right
			flex-basis: 75.6%
			max-width: 75.6%

	&__title
		font-size: 13px
		line-height: 13px
		color: $c2

	&__value
		display: flex
		align-items: center
		font-size: 13px
		line-height: 13px
		font-weight: 600
		color: $c1
		span
			&:not(:last-child)
				margin-right: 38px

	&__link
		line-height: 13px
