extend ../layout/template

block head
	- var title = 'Контакты | РусДолги'
	|
	|
block header
	- var headerModify = 'header--other'
block content
	main.contacts-page
		// Sections
		include ./contacts/main