section.b-contacts
	+breadcrumbs([{ path: '', title: 'Контакты' }])
	.container
		h1._title Контакты 
		._sub-title.xxl-body Если у вас возник вопрос или вы уже сделали заявку, то скорее всего, вы найдете свой вопрос быстрее в разделе ответы на частые вопросы По остальным вопросам обращайтесь в отделы:
		nav.b-contacts-nav
			ul._list
				li._item
					h3._title Технический отдел:
					._sub-title.xl-body По всем вопросам работы сервиса, обращайтесь в техническую поддержку:
					._row
						._col.-left
							._icon-wrap
								+icon('email')
						._col.-right
							._item-title 
								| E-mail:
								a._link.accent-link(href="mailto:info@dolgi") info@dolgi
					._row
						._col.-left
							._icon-wrap
								+icon('phone')
						._col.-right
							._item-title 
								| Тел:
								a._link.-phone(href="tel:+74994500242") +7 (499) 450-02-42
					._row
						._col.-left
							._icon-wrap
								+icon('time')
						._col.-right
							._item-title 
								| Время работы:
								span._text.xxl-body Пн - Пт с 10-00 до 16-00
				li._item
					h3._title Сотрудничество, партнерство, пресса
					._sub-title.xl-body Предложения и запросы по сотрудничеству или получению информации для СМИ:
					._row
						._col.-left
							._icon-wrap
								+icon('email')
						._col.-right
							._item-title 
								| E-mail:
								a._link.accent-link(href="mailto:pr@dolgi") pr@dolgi
					._row
						._col.-left
							._icon-wrap
								+icon('time')
						._col.-right
							._item-title 
								| Время работы:
								span._text.xxl-body Пн - Пт с 10-00 до 16-00
				li._item
					h3._title Почтовые отправления:
					._sub-title.xl-body Адрес для получения корреспонденции и почтовых отправлений:
					._row
						._col.-left
							._icon-wrap
								+icon('location')
						._col.-right
							._item-title 
								| Индекс:
								span._text.xxl-body 12462 Адрес: Россия, Москва, Дежнева пр., 1 - 418
					._row
						._col.-left
							._icon-wrap
								+icon('time')
						._col.-right
							._item-title 
								| Время работы:
								span._text.xxl-body Пн - Чт с 10-00 до 16-00, Пт до 15-00, Сб и Вс выходной