footer.b-footer
	.container
		.row._top-row
			._col.-left
				.b-logo.-ver
					a._link(href="index.html")
						span._img-wrap
							img._img(src="img/logo/logo.svg" alt="")
						span._title РусДолги
					._desc Онлайн-сервис проверки задолженности по судебным приставам
			._col.-center
				h5._title Сервис проверки судебных задолженностей rosdolgi.ru 2020
				._desc.xsm-body
					p Информация по задолженности от судебных приставов формируются автоматически на основе запроса по данным пользователя в официальную базу ФССП. Проверка долгов граждан осуществляется бесплатно. Интернет-портал позволяет узнать задолженности в режиме онлайн. Копирование любой информации о долгах запрещено. Цитирование с сайта разрешается при наличии активной ссылки.
			._col.-right
				._nav-wrap
					a.b-email._email(href="mailto:info@rudolgi.com")
						span._icon-wrap
							+icon('email')
						span._text info@rudolgi.com
					nav.b-nav.-ver
						ul._list
							li._item
								a._link(href="debt-checker.html") Узнать задолженность
							li._item
								a._link(href="check-travel-ban.html") Проверить запрет на выезд
							li._item
								a._link(href="contacts.html") Контакты
		.row._bottom-row
			._col.-first
				._text dolgi.net.© 2016-2020
			._col.-second
				._icons-wrap
					._icon-wrap
						img._img(src="img/icons/ssl.svg" alt="")
					._icon-wrap
						img._img(src="img/icons/cards.svg" alt="")
			._col.-third
				._politics-wrap
					a._link(href="politics.html") Политика конфиденциальности
					a._link(href="agreement.html") Пользовательское соглашение


|
|
|
// Request popup
.b-mfp.-notification-popup.zoom-anim-dialog.mfp-hide#notification-popup
	form._form
		h2._title Уважаемый Козлов Сергей Васильевич <br>По вашему запросу активных задолженностей не найдено
		._desc.lg-desc Подпишитесь на уведомления, чтобы получать информацию о новых активных задолженностях, налогах и штрафах ГИБДД.
		._wrap
			._row
				._col
					._small-text.sm-desc Мы будет оправлять вам на почту напоминания,<br> если появились новые задолженности
					.b-input._input
						input._input(type="text" name="email" placeholder="Введите ваш e-mail")
				._col
					button.b-btn.-subscribe._btn
						span._text Подписаться
						._icon-wrap
							+icon('plane')

|
|
|
// Success popup
.b-mfp.-succes-popup.zoom-anim-dialog.mfp-hide#success
	.b-form-result.-success
		.b-mess
			._title Success!
			._desc We will contact with you soon

|
|
|
// Scripts
script(src="js/libs.min.js")
script(src="js/main.bundle.js")