head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="ie=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

	//- SEO
	meta(property="og:title" content="")
	meta(property="og:description" content="")
	meta(property="og:url" content="")
	meta(property="og:image" content="path/to/image.jpg")

	//- Custom Browsers Tab Color
	meta(name="theme-color" content="#000")

	//- Favicon
<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#da532c">

	//- Styles
	link(rel="stylesheet" href="css/libs.min.css")
	link(rel="stylesheet" href="css/main.css")

	title #{title}