header.b-header(class=headerModify)
	.container
		.row._row
			._col.-left
				.b-logo.-hor
					a._link(href="index.html")
						span._img-wrap
							img._img(src="img/logo/logo.svg" alt="")
						span._title РусДолги
					._desc Онлайн-сервис проверки задолженности по судебным приставам
			._col.-right
				._nav-wrap
					nav.b-nav._nav
						ul._list
							li._item
								a._link(href="debt-checker.html") Узнать задолженность
							li._item
								a._link(href="check-travel-ban.html") Проверить запрет на выезд
							li._item
								a._link(href="contacts.html") Контакты
					button.b-hamburger.-slider.js-menu(type='button')
						span.hamburger-box
							span.hamburger-inner

	.b-mobile-menu
		.container._container
			._wrap
				._top-line
					nav.b-nav.-ver.-mobile._nav
						ul._list
							li._item
								a._link(href="debt-checker.html") Узнать задолженность
							li._item
								a._link(href="check-travel-ban.html") Проверить запрет на выезд
							li._item
								a._link(href="contacts.html") Контакты
				._bottom-line
					a.b-email._email(href="mailto:info@rudolgi.com")
						span._icon-wrap
							+icon('email')
						span._text info@rudolgi.com
					._text.text dolgi.net.© 2016-2020

