.info
	padding: 1.625rem 0 4.8125rem
	+sm
		padding: 25px 0 100px

	&__row
		display: flex
		flex-wrap: wrap

	&__col
		+lg
			flex-basis: 100%
			max-width: 100%
		&--left
			+min_lg
				flex-basis: 65%
				max-width: 65%
		&--right
			+min_lg
				flex-basis: 35%
				max-width: 35%

	&__title
		margin-bottom: 17px

	&__desc
		margin-bottom: 46px
		+lg
			margin-bottom: 40px

	&__checked-list
		margin-bottom: 42px
		+lg
			margin-bottom: 30px

	&__map
		&-wrap
			display: flex
			justify-content: center
			align-items: center
			width: 323px
			height: 187px
			+min_lg
				padding-top: 95px
				margin-left: auto
			+lg
				margin: 0 auto
