.contacts-nav
	&__item
		font-size: 17px
		line-height: 32px
		+lg
			line-height: 24px
		+sm
			font-size: 15px
		&:not(:last-child)
			margin-bottom: 72px
			+lg
				padding-bottom: 30px
				border-bottom: 1px solid #D8DBE0
				margin-bottom: 30px

	&__title
		line-height: 24px
		margin-bottom: 6px

	&__sub-title
		margin-bottom: 25px
		color: $c2

	&__row
		display: flex
		align-items: flex-start
		+lg
			margin-bottom: 10px

	&__col
		&--left
			margin-right: 18px
			padding-top: 7px
		&--right
			display: flex
			flex-wrap: wrap
			align-items: center

	&__icon-wrap
		display: flex
		justify-content: center
		align-items: center
		width: 20px
		height: 20px
		min-width: 20px
		min-height: 20px
		svg
			fill: $accent
			width: 100%
			height: 100%

	&__link
		margin-left: 3px
		&--phone
			font-weight: 600
			color: $c1
			&:hover
				color: $accent

	&__text
		line-height: 32px
		font-weight: normal
		margin-left: 3px
		line-height: inherit

	&__item-title
		font-weight: 600
		color: $c1
