.datepicker-panel>ul>li
	color: $c2
	&:hover
		background: $accent
		color: #fff
	&.picked
		color: #fff !important
		background: $accent
		&:hover
			background: lighten($accent, 10%)
	&.highlighted
		color: $accent !important
		background: #f9f9f9
		&:hover
			background: lighten($accent, 10%)
			color: #fff !important

	&.picked, .datepicker-panel>ul>li.picked:hover
		color: $accent

.datepicker-panel ul[data-view="week"] li
	&:hover
		color: $accent
.datepicker-top-left:before, .datepicker-top-right:before
	border-bottom-color: $accent

.datepicker-top-left, .datepicker-top-right
	border-top-color: $accent
