.warning-banner
	display: flex
	background: #FFFEFB
	border-radius: 3px
	border: 2px solid #FFC36E
	padding: 43px 40px 48px 33px
	margin: 40px 0 40px
	+xl
		padding: 30px 25px
	+lg
		flex-direction: column
		align-items: center
		padding: 30px 20px 20px
	+sm
		padding: 30px 15px 20px

	&__img
		&-wrap
			display: flex
			align-items: center
			width: 5.5rem
			height: 5.125rem
			min-width: 5.5rem
			min-height: 5.125rem
			+min_lg
				margin-top: 10px
				margin-right: 37px
				+xl
					margin-right: 20px
			+lg
				margin-bottom: 20px
				width: 88px
				height: 82px
				min-width: 88px
				min-height: 82px

	&__content
		width: 100%

	&__top-line
		display: flex
		align-items: flex-start
		justify-content: space-between
		margin-bottom: 28px
		+lg
			flex-direction: column
			align-items: center

	&__title
		margin-bottom: 1px
		b
			margin-left: 4px
		+xl
			font-size: 19px
			line-height: 22px
		+lg
			text-align: center
			margin-bottom: 10px

	&__sub-title
		color: $c1
		+lg
			text-align: center

	&__desc
		line-height: 18px
		text-align: center
		+min_lg
			padding-top: 13px
			max-width: 225px
			+xl
				max-width: 190px
		+lg
			display: none

	&__label
		color: $c3
		margin-bottom: 14px
		+lg
			text-align: center

	&__row
		display: flex
		align-items: center
		flex-wrap: wrap
		margin: 0 -7.5px

	&__col
		padding: 0 7.5px
		+lg
			flex-basis: 100%
			max-width: 100%
		&:not(:last-child)
			+lg
				margin-bottom: 15px

		+min_lg
			&--first
				flex-basis: 32.8%
				max-width: 32.8%
			&--second
				flex-basis: 24.4%
				max-width: 24.4%
			&--third
				flex-basis: 24.4%
				max-width: 24.4%
			&--fourth
				flex-basis: 18.4%
				max-width: 18.4%
