form.b-notification-banner
	h4._title Получать уведомление о новых задолженностях
	h5._sub-title Мы будет отправлять вам на почту напоминания, еслипоявились новые исполнительные производства
	._wrap
		._col.-left
			.b-input._input
				input._input(type="text" name="email" placeholder="Введите ваш e-mail адрес")
		._col.-right
			button.b-btn._btn
				span._text Отправить
				span._icon-wrap
					+icon('arrow-right')
