.b-warning-banner
	._row
		._col.-left
			._title Внимание!
			._desc Возможно по вашему ФИО пограничные службы установили запрет на выезд за границу. Проверить наличие на выезд за границу можно нажав на кнопку ниже
			._small-text Запрет на выезд может накладываться согласно № 229-ФЗ от 02.10.2007
			a.b-btn._btn(href="#")
				span._text Проверить
				span._icon-wrap
					+icon('arrow-right')
		._col.-right
			._img-wrap
				img._img(src="img/others/state-border.png" alt="")