section.b-advantages
	.container
		._row
			._col
				._item
					._icon-wrap
						img._icon(src="img/icons/wallet.svg" alt="")
					._title-wrap
						._title Подтверждение оплаты
						._desc Информация о переводе денежных средств фиксируется в личном кабинете и отправляется на почту
			._col
				._item
					._icon-wrap
						img._icon(src="img/icons/commission.svg" alt="")
					._title-wrap
						._title Минимальная комиссия
						._desc Комиссия при оплате банковской карты всего 2,2%
			._col
				._item
					._icon-wrap
						img._icon(src="img/icons/protection.svg" alt="")
					._title-wrap
						._title Защита информации pci dss
						._desc Стандарт защиты информации, разработанный международными платёжными системами Visa и MasterCard