section.b-info
	.container
		._row
			._col.-left
				h2._title Судебные приставы по задолженности не выпускают за границу
				._desc.xl-body
					p По новому законодательству, вас могут не выпустить за рубеж страны, если у вас висят долги по судебным делам. Рекомендуется, регулярно узнавать свою задолженность, чтобы не попасть в сложную ситуацию. Приставы арестовывают банковские счета и накладывают ограничения на выезд за пределы родины. Обратите внимание, что по решению суда, у вас может возникнуть долг перед судебными приставами, если:
				ul.b-checked-list._checked-list
					li._item
						span._icon-wrap
							+icon('list-check')
						span._text Вовремя не оплатили штраф ГИБДД
					li._item
						span._icon-wrap
							+icon('list-check')
						span._text Не платили кредит, ипотеку и т.д.
					li._item
						span._icon-wrap
							+icon('list-check')
						span._text Исковое заявление (физ/юр лица) против вас
					li._item
						span._icon-wrap
							+icon('list-check')
						span._text Неуплата налогов
					li._item
						span._icon-wrap
							+icon('list-check')
						span._text Невыполнение иных долговых обязательств
				h2._title Какие возникают ограничения у должников?
				._desc.xl-body
					p Главное это запрет на любые путешествия вне страны на 3 года. Наложение ареста на все банковские счета и карты. Должник будет обязан погасит задолженность в указанный срок, в ином положении, судебные приставы начнут процедуру конфискации имущества. Для того, чтобы граждане могли самостоятельно узнавать свои задолженности по судебным приставам и в положенный срок их погашать, был создан сайт по проверке долгов онлайн.
			._col.-right
				._map-wrap
					img._map(src="img/main/map.svg" alt="")