section.b-main.section
	.container
		.row
			.col-12.col-lg-12
				h1._title.main-title Узнать задолженность у судебных приставов онлайн
				._desc
					p  Узнать задолженность у судебных приставов онлайн
					p  Узнать задолженность у судебных приставов онлайн
				button.btn._btn Узнать задолженность у судебных приставов онлайн
				input.input(type="text")